{% extends 'base.html' %}

{% block heading %}Chat #{{ chat_id }}{% endblock %}

{% block content %}
<div class="row justify-content-center flex-grow-1">
  <div class="col col-12 col-md-6 col-lg-4 d-flex flex-column">
    <div id="messages"></div>
    <hr>
    <form class="d-flex" id="form" data-chat-id="{{ chat_id }}">
      <div class="flex-grow-1 me-3">
        <input
            type="text"
            class="form-control"
            name="message"
            placeholder="Message"
            autocomplete="off"
            autofocus
            required
        >
      </div>
      <button type="submit" class="btn btn-warning">Send</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='js/chat.js') }}"></script>
{% endblock %}